#input {
    width: 60%;
    height: 2.5rem;
    border: 1px solid rgba(15, 26, 37, 0.742);
    padding: 5px;
    display: flex;
    gap: 10px;
    color: black;
    align-items: center;
    margin-left: 20%;
}

input {
    background-color: transparent;
    /* border: none; */
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
    /* box-shadow: 0px 0px 8px #3a3939; */
}

input:focus {
    outline: none;
}

#search-icon {
    color: royalblue;
}

#search{
    backdrop-filter: blur(10px);
        background-image: linear-gradient(120deg,
                rgba(95, 91, 91, 0.3),
                rgba(244, 239, 255, 0.2));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}